<main class="container container-detail">
    <a href="/movies">Back to movies list</a>

    {{#with movie}}
    <div class="title-container">
        <h1>{{title}}'s details</h1>
        <h3>{{rate}}</h3>
    </div>

    <h2>Made by {{ director }} in {{ year }}</h2>

    <div class="movie-content">
        <img src="{{poster}}" alt="Poster {{ name }}">

        <div class="text">
            <span>
                <h4>Plot</h4>
                <p>{{ plot }}</p>
            </span>

            <span>
                <h4>Duration</h4>
                <p>{{ duration}}</p>
            </span>

            <span>
                <h4>Genre</h4>
                <p>{{genre}}</p>
            </span>
        </div>
    </div>

    <div class="cast-container">
        <h4>Cast:</h4>

        <ul class="cast-list">
            {{#each cast}}
            <li>
                <a href="/celebrities/{{_id}}">
                    <img src="{{picture}}" alt="{{name}}">
                    <span>
                        {{ name }}
                    </span>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="buttons-container">
        <a href="/movies/{{_id}}/edit" class="btn">✏️ Edit this movie</a>
        <a href="/movies/{{_id}}/delete" class="btn">❌ Delete this movie</a>
    </div>
    {{/with}}
</main>
